.body{
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'Avenir', 'Hiragino Sans', 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background-color: #fff;
  line-height: 200%;
}
li{
  list-style: none;
}

.wrapper{
  margin: 0 auto;
  overflow: hidden;
}

.topimage{
  width: 100%;
  height: 450px;
  position: relative;
  background: url("../image/macbook-336692_1280.jpg");
  background-size: cover;
  background-position: center center;
  /* background-repeat: no-repeat; */
  background-position: 50% 80%;
  }

.topimage p{
    position: absolute;
    color: white;
    font-weight: bold;
    font-size:  80px;
    font-family :'Avenir','Corbel','Osaka', sans-serif;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    margin:0;
    padding:0;
    white-space: nowrap;
  }

.navi{
  width: 100%;
  height: 60px;
  font-size:  30px;
  font-weight: bold;
  margin-top: 40px;
  text-align:center;
}
.navi a{
  color:black;
  text-decoration: none;
  margin-left: 40px;
}
.navi a:hover{
opacity: 0.4;
transition: all 0.4s ease;
}

.content{
  display: flex;
  justify-content: center;
  margin: 60px 80px 0 80px;
}

.profile-left{
  width:2000px;
}

.profile-left h3{
  margin-top: 10px;
}

.image img{
width: 200px;
height: 200px;
}

.profile{
  margin: 120px;
  font-size:  30px;
  text-align:center;
  font-weight: bold;
}

.text-profile {
  font-size:  15px;
  margin: 20px 0px 0px 0px;
  line-height: 170%;
}

.content-text{
  font-size:  20px;
}

.centent-text h3{
  font-weight: bold;
}

.profile-text{
  margin-bottom: 20px;
  margin-top: 60px;
}



.profile-text:first-child{
  margin: 0;
}

.works {
  margin-top: 180px;
  font-size:  30px;
  text-align:center;
  font-weight: bold;
}

.f-container {
  margin-top: 80px;
  display:flex;
  justify-content:center;
}

.contact {
  margin-top: 200px;
  /* margin-bottom: 400px; */
  font-size:  30px;
  text-align:center;
  font-weight: bold;
  /* clear: both; */
}

.contact a {
  color:#55acee;
  /* line-height:100px; */
  display: block;
  margin: 30px 0px 30px 0px;
}

.contact p {
  font-size:  20px;
  text-align:center;
  font-weight: bold;
}

.content-twitter{
  margin-top: 40px;
}

.footer {
  width: 100%;
  font-size:  15px;
  text-align:center;
  color:white;
  background-color: #808080;
  padding: 10px;
  margin: auto;
  margin-top: 50px
}

.footer a {
  font-size:  14px;
  text-align:center;
  font-weight: bold;
  color:white;
  text-decoration: none;
}

.footer a:hover{
  color:black;
  opacity: 0.4;
  transition: all 0.4s ease;
}


.card {
  width: 24%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-right:30px;
}

.card:last-child{
  margin: 0;
}
.card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}
.card-content {
  padding: 20px;
}
.card-title {
  font-size: 15px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
}
.card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}
